extends layout

block content
	.search
		input(type='text', placeholder='Szukaj książek...')
		button(type='submit')
			i.fa.fa-search
	nav.navbar.navbar-default.navbar-middle
		.container
			ul.nav.nav-justified
				li Najpopularniejsze
				li Polecamy
				li Nowości
				li Działy
				li Spis Alfabetyczny
	.container.main
		.col2-3
			.book-list
				.col-xs-2 1
				.col-xs-10
					a(href='index-book.html') Tytuł książki
			.book-details
				img(src='images/book.jpg')
			.book-list
				.col-xs-2 2
				.col-xs-10
					a(href='index-book.html') Tytuł książki
			.book-list
				.col-xs-2 3
				.col-xs-10
					a(href='index-book.html') Tytuł książki
			.book-list
				.col-xs-2 4
				.col-xs-10
					a(href='index-book.html') Tytuł książki
			.book-list
				.col-xs-2 5
				.col-xs-10
					a(href='index-book.html') Tytuł książki
		.col2-3
			.book-list
				.col-xs-2 1
				.col-xs-10
					a(href='index-book.html') Tytuł książki
			.book-details
				img(src='images/book.jpg')
			.book-list
				.col-xs-2 2
				.col-xs-10
					a(href='index-book.html') Tytuł książki
			.book-list
				.col-xs-2 3
				.col-xs-10
					a(href='index-book.html') Tytuł książki
			.book-list
				.col-xs-2 4
				.col-xs-10
					a(href='index-book.html') Tytuł książki
			.book-list
				.col-xs-2 5
				.col-xs-10
					a(href='index-book.html') Tytuł książki
		.col2-3
			.book-list
				.col-xs-2 1
				.col-xs-10
					a(href='index-book.html') Tytuł książki
			.book-details
				img(src='images/book.jpg')
			.book-list
				.col-xs-2 2
				.col-xs-10
					a(href='index-book.html') Tytuł książki
			.book-list
				.col-xs-2 3
				.col-xs-10
					a(href='index-book.html') Tytuł książki
			.book-list
				.col-xs-2 4
				.col-xs-10
					a(href='index-book.html') Tytuł książki
			.book-list
				.col-xs-2 5
				.col-xs-10
					a(href='index-book.html') Tytuł książki
		.col2-3
			.book-list
				.col-xs-12
					a(href='#') Przygodowe
			.book-list
				.col-xs-12
					a(href='#') Przygodowe
			.book-list
				.col-xs-12
					a(href='#') Przygodowe
			.book-list
				.col-xs-12
					a(href='#') Przygodowe
			.book-list
				.col-xs-12
					a(href='#') Przygodowe
			.book-list
				.col-xs-12
					a(href='#') Przygodowe
			.book-list
				.col-xs-12
					a(href='#') Przygodowe
			.book-list
				.col-xs-12
					a(href='#') Przygodowe
			.book-list
				.col-xs-12
					a(href='#') Przygodowe
		.col2-3
			.book-list
				.col-xs-6
					a(href='#') A
				.col-xs-6
					a(href='#') M
			.book-list
				.col-xs-6
					a(href='#') B
				.col-xs-6
					a(href='#') N
			.book-list
				.col-xs-6
					a(href='#') C
				.col-xs-6
					a(href='#') O
			.book-list
				.col-xs-6
					a(href='#') D
				.col-xs-6
					a(href='#') N
			.book-list
				.col-xs-6
					a(href='#') E
				.col-xs-6
					a(href='#') P
			.book-list
				.col-xs-6
					a(href='#') F
				.col-xs-6
					a(href='#') R
			.book-list
				.col-xs-6
					a(href='#') G
				.col-xs-6
					a(href='#') S
			.book-list
				.col-xs-6
					a(href='#') H
				.col-xs-6
					a(href='#') T
			.book-list
				.col-xs-6
					a(href='#') I
				.col-xs-6
					a(href='#') U
			.book-list
				.col-xs-6
					a(href='#') J
				.col-xs-6
					a(href='#') W
			.book-list
				.col-xs-6
					a(href='#') K
				.col-xs-6
					a(href='#') Y
			.book-list
				.col-xs-6
					a(href='#') L
				.col-xs-6
					a(href='#') Z
					
block scripts
		script(src='javascripts/main.js')