extends layout

block content
	.search
		input(type='text', name='lo_seach_query', placeholder='Szukaj książek...')
		button(type='submit', name='lo_search_books')
			i.fa.fa-search
	nav.navbar.navbar-default.navbar-middle
		.container
			ul.nav.nav-justified
				li Najpopularniejsze
				li Polecamy
				li Nowości
				li Działy
				li Spis Alfabetyczny
	.container.main
		#popular.col2-3
		#recomended.col2-3
		#lastest.col2-3
		#categories.col2-3
		.col2-3
			.book-list
				.col-xs-6
					a(href='/letter/a') A
				.col-xs-6
					a(href='/letter/m') M
			.book-list
				.col-xs-6
					a(href='/letter/b') B
				.col-xs-6
					a(href='/letter/n') N
			.book-list
				.col-xs-6
					a(href='/letter/c') C
				.col-xs-6
					a(href='/letter/o') O
			.book-list
				.col-xs-6
					a(href='/letter/d') D
				.col-xs-6
					a(href='/letter/n') N
			.book-list
				.col-xs-6
					a(href='/letter/e') E
				.col-xs-6
					a(href='/letter/p') P
			.book-list
				.col-xs-6
					a(href='/letter/f') F
				.col-xs-6
					a(href='/letter/r') R
			.book-list
				.col-xs-6
					a(href='/letter/g') G
				.col-xs-6
					a(href='/letter/s') S
			.book-list
				.col-xs-6
					a(href='/letter/h') H
				.col-xs-6
					a(href='/letter/t') T
			.book-list
				.col-xs-6
					a(href='/letter/i') I
				.col-xs-6
					a(href='/letter/u') U
			.book-list
				.col-xs-6
					a(href='/letter/j') J
				.col-xs-6
					a(href='/letter/w') W
			.book-list
				.col-xs-6
					a(href='/letter/k') K
				.col-xs-6
					a(href='/letter/y') Y
			.book-list
				.col-xs-6
					a(href='/letter/l') L
				.col-xs-6
					a(href='/letter/z') Z
                    
block scripts
	script(src='/javascripts/main.js')