extends layout

block style
    link(rel='stylesheet', href='/stylesheets/book.css')

block content
    .search
        input(type='text', name='lo_seach_query', placeholder='Szukaj książek...')
        button(type='submit', name='lo_search_books')
            i.fa.fa-search
    .container.main
        .col-md-4.text-center
            img.img-inline.img-responsive.book.book-cover(src='')
        .col-md-8
            input(type="hidden", value="#{id}" name="book-id")
            span.title 
            span.author 
            span.publisher Wydawnictwo, 2001
            span.language język polski
            span.genere
            span.status.text-success DOSTĘPNA
        .col-md-12.description
        .col-xs-12.text-center
            button.btn.btn-default.btn-reserve REZERWUJ

block scripts
    script(src='/javascripts/main-book.js')