extends layout

block content
    .container
        .panel.panel-default
            .panel-heading
                | Panel obsługi bibliotekarza
            .panel-body
                .col-md-3
                    ul.list-group
                        li.list-group-item Zarządzaj księgozbiorem
                        li.list-group-item
                            a(href='worker-edit-books.html') Edytuj informację o książce
                        li.list-group-item
                            a(href='worker-add-book.html') Dodaj książkę
                        li.list-group-item
                            a(href='worker-block-book.html') Zablokuj książkę
                    ul.list-group
                        li.list-group-item Zarządzaj czytelnikami
                        li.list-group-item
                            a(href='#') Zablokuj użytkownika
                .col-md-9.text-center
                    h2.text-success Wypożyczone książki.
                    table.table.table-hover
                        thead
                            tr
                                th Tytuł
                                th
                        tbody
                            tr
                                td Zbrodnia i kara
                                td
                                    a(href='#') Zablokuj
                            tr
                                td Matematyka dyskretna
                                td
                                    a(href='#') Zablokuj
                            tr
                                td Perfekcyjna Pani Domu
                                td
                                    a(href='#') Zablokuj