extends layout

block content
    .container
        .panel.panel-default
            .panel-heading
                | Panel obsługi bibliotekarza
            .panel-body
                .col-md-3
                    ul.list-group
                        li.list-group-item Zarządzaj księgozbiorem
                        li.list-group-item
                            a(href='/worker/edit-book') Edytuj informacje o książce
                        li.list-group-item
                            a(href='/worker/add-book') Dodaj książkę
                        li.list-group-item
                            a(href='/worker/block-book') Zablokuj/Odblokuj książkę
                        li.list-group-item
                            a(href='/worker/recommmend') Polecane książki
                        li.list-group-item
                            a(href='/worker/add-category') Dodaj kategorię
                        li.list-group-item
                            a(href='/worker/del-category') Usuń kategorię
                    ul.list-group
                        li.list-group-item Zarządzaj czytelnikami
                        li.list-group-item
                            a(href='/worker/add-del-user') Zablokuj/Odblokuj użytkownika
                        li.list-group-item
                            a(href='/worker/return-book') Zwróć książkę
                .col-md-9
                    h2.text-success.text-center Edytuj informacje o książce.
                    #add_fail(style='display: none')
                        .row
                            .col-xs-4.text-right
                                i.fa.fa-times-circle.text-danger(style='font-size: 40px;margin-bottom: 20px;')
                            .col-xs-8.text-left
                                span.h3.text-danger(style='margin-top: 7px; display: inline-block;') Niepoprawne dane
                    
                    table.table.table-striped.table-hover
                        thead
                            tr
                                th Tytuł książki
                                th.text-right(style="padding-right: 10px;") Akcja
                        tbody#edit_books_table.text-left
                    div.form-horizontal
                        input(type="hidden", name="edit_id")
                        .form-group
                            label.control-label.col-xs-3 Tytuł
                            .col-xs-9
                                input#add_title.form-control(type='text', name="edit_title")
                                i.fa.fa-check-circle.text-success
                                i.fa.fa-times-circle.text-danger
                        .form-group
                            label.control-label.col-xs-3 Autor
                            .col-xs-9
                                input#add_author.form-control(type='text', name="edit_author")
                                i.fa.fa-check-circle.text-success
                                i.fa.fa-times-circle.text-danger
                        .form-group
                            label.control-label.col-xs-3 Kategoria
                            .col-xs-9
                                select.form-control(name="edit_cat")
                        .form-group
                            label.control-label.col-xs-3 Okładka
                            .col-xs-9
                                form#photo_form(enctype="multipart/form-data", action="", method="post")
                                    input#edit_cover(type='file', name="file_0", value='Przeglądaj', data-action='file-upload')
                        .form-group
                            label.control-label.col-xs-3 Opis
                            .col-xs-9
                                textarea.form-control(style='min-height: 150px; font-size: 14px; line-height: 18px; padding: 5px;', name="edit_desc")
                        .form-group
                            .col-xs-9.col-xs-push-3
                                button#lo_edit_book.btn(type='button') Dodaj książkę
                    #add_success.text-center(style='display: none')
                        i.fa.fa-check-circle.text-success(style='font-size: 120px;')
                        br
                        span.h3.text-success Pomyślnie zaktualizowano książkę!

block scripts
    script(src='/javascripts/worker.js')