extends layout

block style
    link(rel='stylesheet', href='/stylesheets/worker.css')

block content
    .container
        .panel.panel-default
            .panel-heading
                | Panel obsługi bibliotekarza
            .panel-body
                .col-md-3
                    ul.list-group
                        li.list-group-item Zarządzaj księgozbiorem
                        li.list-group-item
                            a(href='/worker/edit-book') Edytuj informacje o książce
                        li.list-group-item
                            a(href='/worker/add-book') Dodaj książkę
                        li.list-group-item
                            a(href='/worker/block-book') Zablokuj/Odblokuj książkę
                        li.list-group-item
                            a(href='/worker/add-category') Dodaj kategorię
                        li.list-group-item
                            a(href='/worker/del-category') Usuń kategorię
                    ul.list-group
                        li.list-group-item Zarządzaj czytelnikami
                        li.list-group-item
                            a(href='/worker/add-del-user') Zablokuj/Odblokuj użytkownika
                .col-md-9
                    #add_fail(style='display: none')
                        .row
                            .col-xs-4.text-right
                                i.fa.fa-times-circle.text-danger(style='font-size: 40px;margin-bottom: 20px;')
                            .col-xs-8.text-left
                                span.h3.text-danger(style='margin-top: 7px; display: inline-block;') Niepoprawne dane
                    div.form-horizontal
                        .form-group
                            label.control-label.col-xs-3 Tytuł
                            .col-xs-9
                                input#add_title.form-control(type='text', name="lo_add_book_title")
                                i.fa.fa-check-circle.text-success
                                i.fa.fa-times-circle.text-danger
                        .form-group
                            label.control-label.col-xs-3 Autor
                            .col-xs-9
                                input#add_author.form-control(type='text', name="lo_add_book_author")
                                i.fa.fa-check-circle.text-success
                                i.fa.fa-times-circle.text-danger
                        .form-group
                            label.control-label.col-xs-3 Kategoria
                            .col-xs-9
                                select.form-control(name="lo_add_book_cat_id")
                                    option(value="0") Przygodowe
                                    option(value="0") Przygodowe
                                    option(value="0") Przygodowe
                                    option(value="0") Przygodowe
                                    option(value="0") Przygodowe
                                    option(value="0") Przygodowe
                                    option(value="0") Przygodowe
                                    option(value="0") Przygodowe
                                    option(value="0") Przygodowe
                                    option(value="0") Przygodowe
                        .form-group
                            label.control-label.col-xs-3 Okładka
                            .col-xs-9
                                form#photo_form(enctype="multipart/form-data", action="/api/book/cover", method="post")
                                    input#add_file(type='file', name="file_0", value='Przeglądaj', data-action='file-upload')
                        .form-group
                            label.control-label.col-xs-3 Opis
                            .col-xs-9
                                textarea.form-control(name='lo_add_book_description', style='min-height: 150px; font-size: 14px; line-height: 18px; padding: 5px;')
                        .form-group
                            .col-xs-9.col-xs-push-3
                                button#lo_add_book.btn(type='button') Dodaj książkę
                    #add_success.text-center(style='display: none')
                        i.fa.fa-check-circle.text-success(style='font-size: 120px;')
                        br
                        span.h3.text-success Pomyślnie dodano nową książkę!
block scripts
    script(src='/javascripts/worker.js')