extends layout

block content
    .container
        .panel.panel-default
            .panel-heading
                | Panel obsługi bibliotekarza
            .panel-body
                .col-md-3
                    ul.list-group
                        li.list-group-item Zarządzaj księgozbiorem
                        li.list-group-item
                            a(href='/worker/edit-book') Edytuj informacje o książce
                        li.list-group-item
                            a(href='/worker/add-book') Dodaj książkę
                        li.list-group-item
                            a(href='/worker/block-book') Zablokuj/Odblokuj książkę
                        li.list-group-item
                            a(href='/worker/add-category') Dodaj kategorię
                        li.list-group-item
                            a(href='/worker/del-category') Usuń kategorię
                    ul.list-group
                        li.list-group-item Zarządzaj czytelnikami
                        li.list-group-item
                            a(href='/worker/add-del-user') Zablokuj/Odblokuj użytkownika
                .col-md-9.text-center
                    h2.text-success Zablokuj/Odblokuj książkę.
                    table.table.table-striped.table-hover
                        thead
                            tr
                                th Tytuł książki
                                th.text-right(style="padding-right: 10px;") Akcja
                        tbody#blocks_table.text-left
                    
block scripts
    script(src='/javascripts/worker.js')
                    