.book
{
	max-width: 200px !important;
	margin: 40px 0px;
}

.img-inline
{
	display: inline-block !important;
}

.col-md-8 span
{
	display: block;
	text-align: left;
	font-family: "Oswald";
	line-height: initial;
}

.container.main
{
	margin-top: 10px;
}

.title
{
	font-size: 60px;
	color: rgb(51, 51, 51);
	margin-top: 40px;
}

.col-md-12
{
	text-align: justify;
	background-color: rgb(234, 234, 234);
	padding: 40px 80px;
	font-size: 14px;
	line-height: 22px;
}

.col-xs-12:last-child
{
	height: 150px;
	background-color: rgb(38, 66, 153);
	background-image: url('../images/bg.png');
}

.author
{
	font-size: 30px;
}

.publisher
{
	font-size: 20px;
}

.btn.btn-default.btn-reserve
{
	width: 400px;
	border: 3px solid rgb(255, 255, 255);
	border-radius: 0px;
	font-weight: bold;
	padding: 0px;
	line-height: initial;
	height: 43px;
	margin: 54px;
	background-color: transparent;
	color: #FFF;
}

#results .book
{
	max-height: 100px !important;
}

#results .title
{
	font-size: 40px;
	margin-top: 20px;
}

#results .author
{
	line-height: 38px;
}

#results .row:nth-child(2n)
{
	background-color: #F5F5F5;
}