@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Economica:400,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext);

*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body
{
	background-color: #F5F5F5;
}

.flag
{
	width: 35px;
	height: 22px;
	box-shadow: 0px 0px 3px 0px rgb(170, 170, 170);
	margin-top: 15px;
	margin-left: 9px;
}

.navbar-default 
{
    background-color: transparent;
    border-color: transparent;
}

.navbar-middle
{
	background-image: linear-gradient(to left, #0E2671, #27449C, #0E2671);
	border-radius: 0px;
	border-top: 3px solid #0E2671;
	border-bottom: 3px solid #0E2671;
	color: #FFF;
	margin-top: 40px;
	margin-bottom: 0px;
}

.navbar-middle ul li
{
	height: 44px;
	text-align: center;
	line-height: 44px;
	font-size: 24px;
	font-family: "Oswald";
	font-weight: 100;
}

.logo
{
	text-align: center;
	margin-top: 60px;
}

.logo span
{
	font-size: 72px;
    vertical-align: middle;
    letter-spacing: -6px;
    color: #02103c;
    font-family: "Economica";
	font-weight: bold;
	letter-spacing: -2px;
}

.search
{
	text-align:center;
	margin-top: 20px;
}

.search input
{
	width: 580px;
	height: 65px;
	border-radius: 5px 0px 0px 5px;
	border: 0px none;
	padding-left: 20px;
	font-size: 30px;
	box-shadow: 0px 0px 3px 0px rgb(204, 204, 204);
	vertical-align: middle;
}

.search input::-webkit-input-placeholder
{ 
    color: #DEDEDE;
}
.search input:-moz-placeholder
{ 
    color: #DEDEDE;
}
.search input::-moz-placeholder
{ 
    color: #DEDEDE;
}
.search input:-ms-input-placeholder
{ 
    color: #DEDEDE;
}
.search input:placeholder-shown
{ 
    color: #DEDEDE;
}

.search button
{
	border-radius: 0px 5px 5px 0px;
	height: 65px;
	vertical-align: middle;
	width: 97px;
	font-size: 39px;
	color: rgb(255, 255, 255);
	border: 0px none;
	box-shadow: 0px 0px 3px 0px rgb(204, 204, 204);
	background-color: rgb(39, 68, 156);
}

.book-list .col-xs-2
{
	height: 38px;
	padding: 0px;
	background-color: rgb(39, 68, 156);
	text-align: center;
	border-bottom: 2px solid rgb(30, 45, 88);
	line-height: 38px;
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: bold;
}

.book-list:nth-child(2n) .col-xs-2
{
	background-color: #22387a;
	border-color: #1b2540;
}

.book-list .col-xs-10,
.book-list .col-xs-12
{
	background-color: rgb(245, 245, 245);
	height: 38px;
	line-height: 38px;
	font-weight: bold;
	color: rgb(89, 89, 89);
	border-bottom: 2px solid #ededed;
}

.book-list .col-xs-12
{
	text-align: center;
}

.book-list .col-xs-6
{
	padding: 0px;
	text-align: center;
	height: 38px;
	line-height: 38px;
	font-weight: bold;
	color: rgb(89, 89, 89);
	background-color: rgb(245, 245, 245);
	border-bottom: 2px solid rgb(237, 237, 237);
}

.book-list .col-xs-6 a,
.book-list .col-xs-10 a,
.book-list .col-xs-12 a
{
	color: rgb(89, 89, 89);
}

.book-list:nth-child(2n) .col-xs-10,
.book-list:nth-child(2n) .col-xs-12,
.book-list:nth-child(2n) .col-xs-6
{
	background-color: #F2F2F2;
	border-color: #e7e7e7;
}

.book-details
{
	height: 190px;
	text-align: center;
}

.book-details img
{
	height: 130px;
	width: 98px;
	margin: 10px;
}

.container
{
	padding: 0px;
}

.container.main
{
	background-color: #FFF;
	padding-bottom: 40px;
}

.container.map
{
	position: relative;
}

.container.map img
{
	width: 100%;
}

.container.map .info
{
	height: 110%;
	position: absolute;
	right: 10%;
	width: 40%;
	background-color: rgb(245, 245, 245);
	top: -5%;
	z-index: 1;
	border-bottom: 5px solid rgb(39, 68, 156);
	font-family: "Oswald";
	font-weight: 100;
}

.container.map .info .col-xs-12
{
	margin-top: 70px;
	text-align: center;
	font-size: 25px;
}

.container.map .info .col-xs-6
{
	padding: 40px 30px 0px;
	line-height: 30px;
	font-size: 17px;
	color: rgb(85, 85, 85);
}

.container.map .info .col-xs-6.left
{
	border-right: 1px solid rgb(170, 170, 170);
}

.to-top > img
{
	border-radius: 200px;
	background-color: rgb(102, 102, 102);
	width: 45px;
	padding: 8px;
	margin-top: 27px;
	filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.to-top > img:hover
{
	background-color: rgb(51, 51, 51);
}

footer
{
	font-family: "Oswald";
	font-weight: 100;
}

footer div
{
	background-color: #333;
	color: #CCC;
}

.copyright
{
	font-size: 18px;
	text-align: center;
	display: block;
	margin-top: 18px;
	margin-bottom: 5px;
}

footer div .links
{
	font-size: 12px;
	display: block;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
}

footer div .links a
{
	color: #CCC;
}

.hr
{
	height: 1px;
	background-color: #CCC;
}

.hr.hr-fading
{
	background-color: none;
	background: -moz-linear-gradient(to left, rgba(0, 0, 0, 0), #CCC, rgba(0, 0, 0, 0));
	background: -webkit-linear-gradient(to left, rgba(0, 0, 0, 0), #CCC, rgba(0, 0, 0, 0));
	background: -o-linear-gradient(to left, rgba(0, 0, 0, 0), #CCC, rgba(0, 0, 0, 0));
	background: -ms-linear-gradient(to left, rgba(0, 0, 0, 0), #CCC, rgba(0, 0, 0, 0));
	background: linear-gradient(to left, rgba(0, 0, 0, 0), #CCC, rgba(0, 0, 0, 0));
}

.form-group
{
	position: relative;
}

.form-group .fa
{
	position: absolute;
	right: 12px;
	top: 7%;
	font-size: 30px;
	display: none;
}

.col2-3
{
	position: relative;
	min-height: 1px;
	border-left: 1px solid #D8D8D8;
}

@media (min-width: 992px) {
	
	.col2-3
	{
		float: left;
		width: 20%;
	}

	.to-top > img
	{
		margin-right: 118px;
	}
}